<nav class="navbar navbar-expand-lg navbar-light container">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-weight: bold;"><i class="fa-solid fa-universal-access icono_header"></i>FacturApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownVentas" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ventas
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownVentas">
                <li><a href="/facturar" class="dropdown-item">Ventas (bol-fac)</a> </li>
                <li><a href="#" class="dropdown-item">Nota de crédito</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInventario" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Inventario
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownInventario">
                <li><a href="/facturas" class="dropdown-item">Facturas</a></li>  
                <li><a href="/productos" class="dropdown-item">Productos</a></li>
                <li><a href="/clientes" class="dropdown-item">Clientes</a></li>
                <li><a href="/marcas-vehiculos" class="dropdown-item">Marcas Vehículos</a></li>
              </ul>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Reportes
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/about">Ventas Diarias</a></li>
                <li><a class="dropdown-item" href="#">Ventas Mensuales</a></li>
                <li><a class="dropdown-item" href="#">Estadísticas</a></li>
                <li><a class="dropdown-item" href="#">Transacciones Getnet</a> </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMantenimiento" role="button" data-bs-toggle="dropdown" aria-expanded="false">Mantenimiento</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMantenimiento">
                <li><a class="dropdown-item" href="/usuarios">Usuarios</a></li>
                <li><a class="dropdown-item" href="#">Repuestos</a></li>
                <li><a class="dropdown-item" href="#">Clientes</a></li>
                <li><a class="dropdown-item" href="#">Parametros</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Servidor</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownRepuestos" role="button" data-bs-toggle="dropdown" aria-expanded="false">Repuestos</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownRepuestos">
                <li><a class="dropdown-item" href="#">Buscar Repuesto</a></li>
                <li><a class="dropdown-item" href="#">Medidas</a></li>
              </ul>
            </li>
          </ul>
        
        </div>
      </div>
      
    </div>
  </nav>