<meta charset="UTF-8">
<title>FacturApp</title>

<!-- CSS (load bootstrap from a CDN) -->
<title>Mi Aplicación</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    body { padding-top:120px; }
</style>
<script>
    function paciencia() {
        swal({
            title: "Paciencia",
            text: "Esta función aún no está disponible",
            icon: "warning",
            button: "Ok",
        });
    }

    function verOfertas(){
        fetch('https://panchoserver.ddns.net/api/dameofertas')
        .then(response => response.json())
        .then(data => {
            let ofertas = data[0];
            console.log(ofertas);
            // imprimir las ofertas en formato card de bootstrap
            let html = '<div class="row">';
            ofertas.forEach(oferta => {
                // usar separador de miles para el precio actualizado
                let precio_actualizado = new Intl.NumberFormat('de-DE').format(oferta.precio_actualizado);
                html+=`
                <div class="col-md-3">
                    <div class="card w-100" >
                        <img src="http://panchoserver.ddns.net/storage/`+oferta.urlfoto+`" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">`+oferta.codigo_interno+`</h5>
                            <p class="card-text">${oferta.descripcion}</p>
                            <p class="card-text">$ ${precio_actualizado}</p>   
                        </div>
                    </div>
                </div>
                `;
            });
            html+='</div>';
            document.getElementById('ofertas').innerHTML = html;
        });
    }
</script>