<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/estado-dte.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>

    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
    <!-- Incluye jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Incluye Popper.js -->
    <script src="/js/popper.min.js"></script>
    <!-- Incluye el archivo JavaScript de Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>