<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/notas_credito.js"></script>
</head>
<body>
    <div class="container-fluid">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main>
            <h1>Notas de crédito</h1>
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </div>
    <!-- Incluye jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Incluye Popper.js -->
    <script src="/js/popper.min.js"></script>
    <!-- Incluye el archivo JavaScript de Bootstrap -->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>