<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="js/repuestos.js"></script>
</head>
<body>
    <div class="container">
        <header>
            <%- include('../partials/header'); %>
        </header>
        <main style="min-height: 500px;">
    
        </main>
        <footer>
            <%- include('../partials/footer'); %>
        </footer>
        
    </div>
    <!-- Modal -->
  <div class="modal fade" id="modalBuscarRepuesto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-dark" style="color: white; ">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Repuesto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="background-color: rgb(242, 245, 169);">
          <div class="d-flex">
            <input type="search" name="busqueda" id="busqueda" class="form-control" placeholder="¿Qué desea buscar?">
            <button class="btn btn-success btn-sm" onclick="buscarRepuesto()"><i class="fa-solid fa-magnifying-glass"></i></button>
          </div>
          <div class="row scrollable-div mt-3" id="resultado">

          </div>
        </div>
        <div class="modal-footer bg-dark">
          <p class="text-right text-white text-uppercase">Sysmafra 2023</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalImagen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" >
          <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <img src="" alt="" id="imagen" class="w-100">
        </div>
        <div class="modal-footer bg-dark">
          <p class="text-right text-white text-uppercase">Sysmafra 2023</p>
        </div>
      </div>
    </div>
  </div>
    <!-- Incluye JQUERY-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Incluye Popper.js-->
    <script src="/js/popper.min.js"></script>
    <!-- Incluye el archivo JavaScript de Bootstrap-->
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>